<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="head.html :: head"></div>

<body>
<div th:replace="header.html :: header"></div>
    <div class="container-fluid margin-90-top">
        <div class="row justify-content-md-center">
            <div class="col-6">
                <div class="card padding-30-sides margin-30-bottom secondary-color white-text padding-30">
                    <h4>Kérjük ellenőrizd le az adataidat:</h4>
                    <div class="jackInTheBox">
                        <h6 th:text="'Név: ' + ${name}"></h6>
                        <h6 th:text="'Email: ' + ${email}"></h6>
                        <h6 th:text="'Telefon: ' + ${phone}"></h6>
                        <h6 th:text="'Számlázási cím: ' + ${billing}"></h6>
                        <h6 th:text="'Szállítási cím: ' + ${shipping}"></h6>
                    </div>


                    <!-- Button trigger modal-->
                    <button type="button" class="btn btn peach-gradient" data-toggle="modal" data-target="#modalSocial">Vásárlás</button>

                    <!--Modal: modalSocial-->
                    <div class="modal fade" id="modalSocial" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog cascading-modal" role="document">

                            <!--Content-->
                            <div class="modal-content">

                                <!--Header-->
                                <div class="modal-header secondary-color white-text">
                                    <h4 class="title"><i class="fas fa-users"></i> Köszönjük a vásárlást!</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                </div>

                                <!--Body-->
                                <div class="modal-body mb-0 text-center">
                                    <a  th:href="'/'">
                                        <button type="button" class="btn peach-gradient btn-lg btn-block">Vissza boltba</button>
                                    </a>

                                </div>

                            </div>
                            <!--/.Content-->

                        </div>
                    </div>
                    <!--Modal: modalSocial-->







                </div>
            </div>
        </div>
    </div>

</body>
</html>