<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Checkout</title>
    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->

    <!-- Material Design Bootstrap -->
    <link href="/static/css/mdb.min.css" rel="stylesheet">
    <script src="/static/js/mdb.js" defer></script>
    <script src="/static/js/popper.min.js" defer></script>

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />
    <script src="/static/js/popper.min.js" defer></script>
    <script src="/static/js/custom.js" defer></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-6">
            <form action="checkout-summary" method="post">
                <div class="form-group">
                    <label for="formGroupExampleInput">Name</label>
                    <input type="text" name="name" class="form-control" id="formGroupExampleInput" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">E-mail</label>
                    <input type="text" name="email" class="form-control" id="formGroupExampleInput2" placeholder="E-mail">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">Phone number</label>
                    <input type="text" name="phone" class="form-control" id="formGroupExampleInput3" placeholder="Phone number">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">Billing Address</label>
                    <input type="text" name="billing" class="form-control" id="formGroupExampleInput4" placeholder="Billing Address">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">Shipping Address</label>
                    <input type="text" name="shipping" class="form-control" id="formGroupExampleInput5" placeholder="Shipping Address">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

<div th:replace="footer.html :: copy"></div>
</body>
</html>